.App {
  text-align: center;
}

/* write your parent styles in here for your App.js */

.Header {
  color: white;
  margin: 20px;
  text-shadow: 1px 1px 5px #fff;
  font-family: "Audiowide", cursive;
}
ul {
  list-style-type: none;
}
