body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://media.moddb.com/images/groups/1/10/9786/reb_ca_1305_17_5a211d18.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
